h1 {
  text-align: center;
}
nav {
  text-align: center;
}
nav a {
  background-color: grey; padding-left: 10px; padding-right: 10px;
}
section {
  width: 800px;
  text-align: center;
  margin: auto;
}
div {
  float: left;
  background: red;
  width: 25%;
}
